name: Check Javascript stuff

on:
  pull_request:
  push:
    branches: [main]

jobs:
    check-javascript:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                node-version: "25.5.0"

            - uses: oven-sh/setup-bun@v2
              with:
                bun-version: "1.3.9"
            
            - run: npm install
              working-directory: gen/ts

            - name: Check for uncommitted changes
              run: |
                T=$(git status --porcelain)
                if [ -n "${T}" ]; then
                  ehco "${T}"
                  echo "::error::Files in gen/ts are out of date. Run 'npm i' and commit the changes."
                  exit 1
                fi

            - run: npm run build
              working-directory: gen/ts
            
            - run: bun install
              working-directory: reference-impls/opencode-plugin

            - name: Check for uncommitted changes
              run: |
                T=$(git status --porcelain)
                if [ -n "${T}" ]; then
                  echo "${T}"
                  echo "::error::Files in reference-impls/opencode-plugin are out of date. Run 'bun i' and commit the changes."
                  exit 1
                fi

            - run: bun run build
              working-directory: reference-impls/opencode-plugin
